<div id="main-form">
    <form action="/enviar" method="POST">
        <div class="mb-3">
            <h1 id="h1n">NokiaTube</h1>
            <label for="link" class="form-label">Coloque o Link que deseja Baixar do YT</label>
            <input  type="text" name="link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Obrigado!</div>
            <input type="submit" value="Baixar" class="btn btn-primary"></input>
        </div>
        
    </form>
</div>

