<div id="main-form">
    <form action="/enviar" method="POST">
        <div class="mb-3">
            <h1 id="h1n">NokiaTube</h1>
            <label id="formanswer" for="link" class="form-label">Coloque o Link que deseja Baixar do YT</label>
            <input  placeholder="Link YT" type="text" name="link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <input id="button22" type="submit" value="Baixar" class="btn btn-primary"></input>
        </div>
        
    </form>
</div>

